<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		</bean>
	<bean id="menuitemDao" class="com.hbsy.oa.dao.impl.MenuitemDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>
	
	<bean id="menuitemService" class="com.hbsy.oa.service.impl.MenuitemServiceImpl">
		<property name="menuitemDao">
			<ref bean="menuitemDao"/>
		</property>
	</bean>
	
	<bean id="menuitemAction" class="com.hbsy.oa.action.MenuitemAction" scope="prototype">
		<property name="menuitemService">
			<ref bean="menuitemService"/>
		</property>
	</bean>
</beans>